<h4>Profile</h4>
<p><%= @user.email %></p>
<p>Mangas:</p>
<ul>
  <% @user.mangas.each do |manga| %>
    <li><%= manga.title %></li>
  <% end %>
</ul>
<%= link_to "Back to home", root_path %>
<%= link_to "Send trade request", trade_path(@trade) %>